@model TL4_SHOP.Models.ContactFormModel
@{
    ViewData["Title"] = "Liên hệ";
}

<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Liên hệ</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Liên hệ</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Liên hệ để được giải đáp mọi thắc mắc</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form">
                @if (ViewBag.Success != null)
                {
                    <div class="alert alert-success">@ViewBag.Success</div>
                }
                <form asp-action="Contact" asp-controller="Home" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" placeholder="Tên của bạn" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Email" class="form-control" placeholder="Email của bạn" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Subject" class="form-control" placeholder="Chủ đề" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Message" class="form-control" rows="6" placeholder="Quý khách vui lòng mô tả chi tiết"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary py-2 px-4">Gửi liên hệ</button>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Liên hệ (8:00 - 21:00)</h5>
            <p>Mọi thắc mắc sẽ được nhân viên hỗ trợ online sau 5 phút gửi tin nhắn. Cảm ơn quý khách đã gửi liên hệ.</p>
            <div class="d-flex flex-column mb-3">
                <h5 class="font-weight-semi-bold mb-3">4TL Quận 7</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>458/3F Đ. Nguyễn Hữu Thọ, Tân Hưng, Quận 7, Hồ Chí Minh</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>nhattan@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 74567890</p>
            </div>
            <div class="d-flex flex-column">
                <h5 class="font-weight-semi-bold mb-3">4TL Quận 8</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>411 Liên Tỉnh 5, P. 5, Quận 8, TP. HCM</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>minhdang@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+84 95867890</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}